.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(45deg, #ecf0f1, #bdc3c7, #95a5a6, #7f8c8d);
  overflow: hidden;

  @include respond(tab) {
    padding: 2rem 10rem;
  }

  @include respond(land) {
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
  }

  @include respond(desk) {
    max-width: 50rem;
    height: 80vh;
    padding: 1rem;
    margin: 10vh auto 0 auto;
    box-shadow:
    0 20px 0 -10px #7f8c8d,
    0 40px 0 -20px #95a5a6,
    0 60px 0 -30px #bdc3c7,
    0 80px 0 -40px #ecf0f1;
  }
}


